[user]
	name = Grigory Glushko
	email = grinderrz@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	untrack = update-index
	lsuntrack = ls-files
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
